* {
    font-family: math;
}

canvas {
    border: 1px solid rgb(190, 190, 190);
}

#romDataDOM {
    height: 18rem;
    overflow: scroll;
    width: 20rem; /* enough space for 2 bytes of data */
    overflow-x: hidden;
}